{% extends "base_lite.html" %}
{% block content %}

<div class="col-sm-12 whats-up">
  <div class="row">
    <div class="main-title col-sm-2 text-center w-u-title">
      <div class="col-sm-12"><i class="fa fa-exclamation"></i></div>
      <div class="col-sm-12 users"><i class="fa fa-users"></i></div>
      What's Up?</div>
      <div class="col-sm-10 text-center messages">
        <div class="col-sm-12 each-message-wrapper">
          <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Katey Perry</div><div class="user-meta light text-center">Cincinatti, OH</div></div>
          <div class="col-sm-10"><div class="helper"><span class="name-span">Katey Perry, MD</span> is seeking to</div>

          <div class="actual-comment text-center">Find a mentor in the community. Is anybody available in the Cincinnati area?<div class="left-quote">"</div>
          <div class="right-quote">"</div></div>
        </div>
        <div class="col-sm-10 each-message-meta">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
              <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
              <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
            </div>
          </div>
          <div class="col-sm-4 action-wrapper">
            <div class="col-sm-6 action text-right"><a href="#" data-toggle="modal" data-target="#respondModal">Reply</a> </div>
            <div class="col-sm-6 action vote text-right">
              <a href="#"><i class="fa fa-long-arrow-up"></i></a>
              <a href="#"><i class="fa fa-long-arrow-down"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-12 each-message-wrapper">
        <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/c_southam/128.jpg" class="img-responsive img-circle img-thumbnail">
          <div class="user-meta text-center">Bill Burr, MD</div>
          <div class="user-meta light text-center">San Francisco, CA</div></div>
          <div class="col-sm-10"><div class="helper"><span class="name-span">Bill Bur, MD</span> is offering</div>

          <div class="actual-comment text-center">Consultation services in the SF Bay Area. 10 years of experience.<div class="left-quote">"</div>
          <div class="right-quote">"</div></div>
        </div>
        <div class="col-sm-10 each-message-meta">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
              <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
              <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.5s9p</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
            <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 each-message-wrapper">
        <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Brian Molko</div> <div class="user-meta light text-center">San Francisco, CA</div></div>
        <div class="col-sm-10"><div class="helper"><span class="name-span">Brian Molko, MD</span> is on a mission</div>

        <div class="actual-comment text-center"> to get through the rest of these Test Cases before the end of the day. <div class="left-quote">"</div>
        <div class="right-quote">"</div></div>
      </div>
      <div class="col-sm-10 each-message-meta">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
            <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
            <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
          <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 each-message-wrapper">
      <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/suprb/128.jpg" class="img-responsive img-circle img-thumbnail">
        <div class="user-meta text-center">Zara Peisker</div>
        <div class="user-meta light text-center">Los Angeles, CA</div>
      </div>
      <div class="col-sm-10"><div class="helper"><span class="name-span">Zara Peisker, MD</span> is seeking</div>

      <div class="actual-comment text-center"> a study partner for the ABPS exam. Any takers in the LA area? <div class="left-quote">"</div>
      <div class="right-quote">"</div></div>
    </div>
    <div class="col-sm-10 each-message-meta">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
          <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
          <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
        <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 each-message-wrapper">
    <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Rachel Aiello </div>
    <div class="user-meta light text-center">Minneapolis, MN</div>
  </div>
  <div class="col-sm-10"><div class="helper"><span class="name-span">Rachel Aiello, MD</span> is seeking</div>

  <div class="actual-comment text-center"> help for job placement in the Minneapolis area. <div class="left-quote">"</div>
  <div class="right-quote">"</div></div>
</div>
<div class="col-sm-10 each-message-meta">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
      <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
      <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
    <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
  </div>
</div>
</div>
<div class="col-sm-12 each-message-wrapper">
  <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/stylecampaign/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Tara Reid</div></div>
  <div class="col-sm-10">
  </div>
</div>
<div class="col-sm-12 each-message-wrapper">
  <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/arpitnj/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Brandon Swanson</div></div></div>
  <div class="col-sm-10">
  </div>
</div>
</div>
</div>

<div class="message-status-bar">+ 5 New Messages</div>
<div class="col-sm-12 w-up-form-wrapper">
  <div class="row">
    <div class="col-sm-3 logged-in-info ">

      {% block login %}

{% if user.username %}
<div class="logged-in">
  <span class="user-name">Logged In As: <span class="user"><i class="fa fa-user"></i> {{ user.username }}</span></span>
  <a href="{% url 'usermodule.views.logout_user' %}" class="btn btn-default logout">Logout</a>
</div>
{% else %}
  <span class="name-span">Please <a href="#">log in</a> to make a post.</span>

  {% endif %}

  {% endblock login %}
<!--       Logged in as <span class="name-span">Josiah Hadley, MD</span>
 -->    </div>
    <div class="col-sm-9">
      <div class="col-sm-4">
        <select class="dropdown">
          <option value="1">seeking</option>
          <option value="2">is offering</option>
          <option value="3">is on a mission</option>
          <option value="4">recently</option>
        </select>
      </div>

      <div class="col-sm-6 input-w-u">
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">what are you seeking to do?</label>
            <input type="text" class="form-control" id="comment-input" placeholder="What are you seeking to do?">
          </div>
        </div>

        <button type="submit" class="btn btn-default">POST</button>
      </form>
    </div>
  </div>
</div>

<div class="double">
  <div class="col-sm-6 text-center">
    <div class="m-t-square">
      <div class="main-title content">
        <div class="col-sm-12 double-b"><i class="fa fa-fire"></i></div>Fireside Chats</div></div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="m-t-square">
          <div class="main-title content"><div class="col-sm-12 double-b"><i class="fa fa-comments-o"></i></div>Discussion Boards</div></div>
        </div>
      </div>


<!-- Modal -->
<div class="modal fade" id="respondModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon">
          <div>
            <i class="fa fa-users"></i>
          </div>
          What's Up
        </div>
        <button type="button" class="close " data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="respondModalLabel">Respond to Zara Peisker, MD</h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control text-a-style" rows="4"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Post Response</button>
      </div>
    </div>
  </div>
</div>


</div>
<div class="ribbon">
  <a href="#">ABPS-STAGING</a>
</div>

{% endblock content %}


