{% extends "base_lite.html" %}
{% block content %}

<div class="col-sm-12 whats-up">
  <div class="row">
    <div class="main-title col-sm-2 text-center w-u-title">
      <div class="col-sm-12"><i class="fa fa-exclamation"></i></div>
      <div class="col-sm-12 users"><i class="fa fa-users"></i></div>
      What's Up?</div>
      <div class="col-sm-10 text-center messages">
        <div class="col-sm-12 each-message-wrapper">
          <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Katey Perry</div><div class="user-meta light text-center">Cincinatti, OH</div></div>
          <div class="col-sm-10"><div class="helper"><span class="name-span">Katey Perry, MD</span> is seeking to</div>

          <div class="actual-comment text-center">Find a mentor in the community. Is anybody available in the Cincinnati area?<div class="left-quote">"</div>
          <div class="right-quote">"</div></div>
        </div>
        <div class="col-sm-10 each-message-meta">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
              <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
              <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
            <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
          </div>
        </div>

      </div>

      <div class="col-sm-12 each-message-wrapper">
        <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/c_southam/128.jpg" class="img-responsive img-circle img-thumbnail">
          <div class="user-meta text-center">Bill Burr, MD</div>
          <div class="user-meta light text-center">San Francisco, CA</div></div>
          <div class="col-sm-10"><div class="helper"><span class="name-span">Bill Bur, MD</span> is offering</div>

          <div class="actual-comment text-center">Consultation services in the SF Bay Area. 10 years of experience.<div class="left-quote">"</div>
          <div class="right-quote">"</div></div>
        </div>
        <div class="col-sm-10 each-message-meta">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
              <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
              <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
            <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 each-message-wrapper">
        <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Brian Molko</div> <div class="user-meta light text-center">San Francisco, CA</div></div>
        <div class="col-sm-10"><div class="helper"><span class="name-span">Brian Molko, MD</span> is on a mission</div>

        <div class="actual-comment text-center"> to get through the rest of these Test Cases before the end of the day. <div class="left-quote">"</div>
        <div class="right-quote">"</div></div>
      </div>
      <div class="col-sm-10 each-message-meta">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
            <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
            <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
          <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 each-message-wrapper">
      <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/suprb/128.jpg" class="img-responsive img-circle img-thumbnail">
        <div class="user-meta text-center">Zara Peisker</div>
        <div class="user-meta light text-center">Los Angeles, CA</div>
      </div>
      <div class="col-sm-10"><div class="helper"><span class="name-span">Zara Peisker, MD</span> is seeking</div>

      <div class="actual-comment text-center"> a study partner for the ABPS exam. Any takers in the LA area? <div class="left-quote">"</div>
      <div class="right-quote">"</div></div>
    </div>
    <div class="col-sm-10 each-message-meta">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
          <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
          <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
        <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 each-message-wrapper">
    <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Rachel Aiello </div>
    <div class="user-meta light text-center">Minneapolis, MN</div>
  </div>
  <div class="col-sm-10"><div class="helper"><span class="name-span">Rachel Aiello, MD</span> is seeking</div>

  <div class="actual-comment text-center"> help for job placement in the Minneapolis area. <div class="left-quote">"</div>
  <div class="right-quote">"</div></div>
</div>
<div class="col-sm-10 each-message-meta">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3 post-meta text-left"> 12 Replies</div>
      <div class="col-sm-3 post-meta text-left">+ 35 Votes</div>
      <div class="col-sm-6 post-meta text-left"> Posted Oct. 26 2014 3.59p</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="col-sm-6 action text-right"><a href="#">Reply</a> </div>
    <div class="col-sm-6 action text-right"><a href="#">Vote</a></div>
  </div>
</div>
</div>
<div class="col-sm-12 each-message-wrapper">
  <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/stylecampaign/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Tara Reid</div></div>
  <div class="col-sm-10">
  </div>
</div>
<div class="col-sm-12 each-message-wrapper">
  <div class="col-sm-2 text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/arpitnj/128.jpg" class="img-responsive img-circle img-thumbnail"><div class="user-meta text-center">Brandon Swanson</div></div></div>
  <div class="col-sm-10">
  </div>
</div>
</div>
</div>

<div class="message-status-bar">+ 5 New Messages</div>
<div class="col-sm-12 w-up-form-wrapper">
  <div class="row">
    <div class="col-sm-3 logged-in-info ">
      Logged in as <span class="name-span">Josiah Hadley, MD</span>
    </div>
    <div class="col-sm-9">
      <div class="col-sm-4">
        <select class="dropdown">
          <option value="1">seeking</option>
          <option value="2">is offering</option>
          <option value="3">is on a mission</option>
          <option value="4">recently</option>
        </select>
      </div>

      <div class="col-sm-6 input-w-u">
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">what are you seeking to do?</label>
            <input type="text" class="form-control" id="comment-input" placeholder="What are you seeking to do?">
          </div>
        </div>

        <button type="submit" class="btn btn-default">POST</button>
      </form>
    </div>
  </div>
</div>

<div class="double">
  <div class="col-sm-6 text-center">
    <div class="m-t-square">
      <div class="main-title content">
        <div class="col-sm-12 double-b"><i class="fa fa-fire"></i></div>Fireside Chats</div></div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="m-t-square">
          <div class="main-title content"><div class="col-sm-12 double-b"><i class="fa fa-comments-o"></i></div>Discussion Boards</div></div>
        </div>
      </div>
      <div class="col-sm-12 text-center main-board">
        <div class="main-title text-center fancy-text">
          <div class="fancy-box">
            <div>Meet</div> <div class="small">the</div> <div>Board</div></div>
          </div>
        </div>

        <div class="col-sm-12 board-bio-wrapper">
          <div class="col-sm-10 col-sm-offset-1 top-p">
            Lorem ipsum dolor sit amet, ac tempor nulla tellus, vehicula quisque at ligula et, ultricies platea. Pellentesque id, convallis dignissim odio cras, ultricies ante augue facilisi lectus rutrum elit, tristique dui. Purus laoreet tortor taciti, mus nec, amet egestas, proin ornare, varius felis.
          </div>

          <div class="col-sm-6">

           <div class="col-sm-12 bio-pic"><img src='static/images/ed/Ng-1.jpg' class="img-circle"></div><div class="col-sm-12 bio-name">Alan Ng, DPM, President</div>
           <div class="col-sm-10 col-sm-offset-1">
            <p>Dr. Ng received a bachelor’s degree from the University of Colorado in 1993 and Doctor of Podiatric Medicine from the Dr. William M. Scholl College of Podiatric Medicine in 1998. He completed a two-year podiatric surgical residency at West Houston Medical Center, Harris County Podiatric Surgical Residency and Fellowship programs. He then completed a third-year reconstructive foot and ankle fellowship at Harris County Podiatric Surgical Residency and Fellowship programs.</p>

<!--     <p>Dr. Ng is a member of the residency committee for Highlands Hospital Foundation, a PMS-36 Surgical Residency Program affiliated with Presbyterian/St. Luke's Medical Center in Denver. Currently, he is head of research and publications for the residency program.</p>

    <p>Dr. Ng was certified by the American Board of Foot and Ankle Surgery (ABFAS) in Foot Surgery in 2003 and in Reconstructive Rearfoot/Ankle Surgery in 2004. He is a Fellow of American College of Foot and Ankle Surgeons (ACFAS) and serves on multiple committees for the ACFAS. He was chair of the Education and Scientific Affairs Committee in 2008 and 2009, and has served on the committee since 2006. He currently is a member of the ACFAS Surgical Skills Committee. He was a member of the ABPS Foot Surgery Oral Examination Committee from 2005 to 2014 and chaired the committee since 2008. He has also been an Oral Examiner for the ABPS since 2005.</p>

    <p>Dr. Ng practices in Denver, with Advanced Orthopedic Sports Medicine Specialists and has been involved with residency training since he graduated from residency in 2001.</p> -->

  </div>
</div>
<div class="col-sm-6 derp">
 <div class="col-sm-12 bio-pic"><img src='static/images/ed/R. Mirmiran 09-1.jpg' class="img-circle"></div>
 <div class="col-sm-12 bio-name">Samuel S. Mendicino, Past President</div>
 <div class="col-sm-10 col-sm-offset-1">

  <p>Dr. Mendicino received a Bachelor of Science degree in Biological Sciences from the University of Pittsburgh in 1979 and a Doctor of Podiatric Medicine degree from the Dr. William M. Scholl College of Podiatric Medicine, Chicago in 1983. He completed a podiatric surgical residency at the Harris County Podiatric Surgical Residency Program (currently, West Houston Medical Center Residency Program) in 1985. He was certified in Foot and Ankle Surgery in 1988 by the American Board Foot and Ankle Surgery and is a Fellow in the American College of Foot and Ankle Surgeons.</p>
<!--
<p>Dr. Mendicino has had several leadership roles since completing his residency training. He is a Past President of the Texas Podiatric Medical Association, and has served on several local, state, and national committees in many organizations including, the American College of Foot and Ankle Surgery (ACFAS) and the American Podiatric Medicine Association. He served as the Chairman of the ACFAS Annual Scientific Conference Program and Surgical Skills committees.</p>
<p>Dr. Mendicino has been involved in residency education for 25 years and is currently the Director of Residency Training of West Houston Medical Center’s PM&S-36 program. He is also a member of the hospital’s Medical Executive and Medical Education Committees, and is currently the Chair of the Department of Surgery.</p>

<p>Within ABFAS, Dr. Mendicino is currently serving his fifth year as Chairman of the Examinations Committee. In addition, Dr. Mendicino has been an active member of ABFAS, serving on several committees, including Credentials, Residency Education, Foot Orals, Exam Development, and Experienced Item Writers. He also served as an examiner for both the Foot and RRA examinations  for several years.</p> -->

</div>
</div>
<hr>
<div class="col-sm-6">
  <div class="col-sm-12 bio-pic"><img src='static/images/ed/Sticha-4-1.jpg' class="img-circle"></div>
  <div class="col-sm-12 bio-name">Russell S. Sticha, DPM</div>
  <div class="col-sm-10 col-sm-offset-1"><p>Dr. Sticha received a BS degree in Biology from the University of Minnesota in 1991 and a DPM degree from the College of Podiatric Medicine and Surgery of the University of Osteopathic Medicine and the Health Sciences, Des Moines, in 1995. He completed a three-year surgical residency at St. John Hospital Medical Center, Detroit, in 1998, which included a mini-trauma fellowship at the University Hospital of Vienna in Austria. Dr. Sticha is certified in Foot Surgery and in Reconstructive Rearfoot/Ankle Surgery by the American Board of Foot and Ankle Surgery (ABFAS). He also is a Fellow of the American College of Foot and Ankle Surgeons.</p>
     <!--      <p>Dr. Sticha has been active in several national podiatric medical organizations, including the American College of Foot and Ankle Surgeons, the National Board of Podiatric Medical Examiners (NBPME), the Council on Podiatric Medical Education’s Residency Review Committee (RCC) and the ABFAS, and he has published numerous peer review articles.</p>
          <p>Dr. Sticha is a manuscript reviewer for the Journal of Foot & Ankle Surgery, and is a member of the NBPME Board of Directors since 2005. Within ABFAS, he served as an oral examiner for Foot Surgery and Reconstructive Rearfoot/Ankle Surgery and for the past 10 years, as a member of the Credentials Committee. Dr. Sticha is a past Residency Site Reviewer for RCC (formerly the Joint Residency Review Committee) and was the ABPS Representative to the JRRC from 2007 to 2010. He has been a member of the Reconstructive Rearfoot/Ankle Surgery Oral Examinations Committee and is chair of the Computer-based Patient Simulation (CBPS) Examinations Committee in Foot Surgery.</p>
          <p>Dr. Sticha practices in Alexandria, MN, and is the Chief of Staff of Douglas County Hospital.</p> -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-12 bio-pic"><img src='static/images/ed/M. Williams-4-1.jpg' class="img-circle"></div>
        <div class="col-sm-12 bio-name">Matthew E. Williams, DPM</div>
        <div class="col-sm-10 col-sm-offset-1">
          <p>Dr. Williams received a BS degree in Nutrition from Central Washington University in 1992 and a DPM degree from the California School of Podiatric Medicine at Samuel Merritt University, Oakland, in 1998. He completed a three-year surgical residency program at Kaiser Permanente Medical Center in Walnut Creek, CA in 2001.</p>
    <!--     <p>Dr. Williams was certified in Foot Surgery and in Reconstructive Rearfoot/Ankle Surgery by the ABFAS in 2003. He has been a member of the ABFAS Examinations Committee since 2005, and served as chair of the Reconstructive Rearfoot/Ankle Surgery Oral Committee. He was an oral examiner for the ABPS 2004 to 2014. Dr. Williams is a fellow of the American College of Foot and Ankle Surgeons (ACFAS) and is a faculty member for the ACFAS surgical skills arthroscopy course.</p><p>
    Dr. Williams served as an attending foot and ankle surgeon for the San Francisco Bay Area Foot and Ankle Residency program at Kaiser Permanente Medical Center, Walnut Creek, CA, until 2006, when he joined Virginia Mason Medical Center in Seattle, WA, where he currently practices. He actively participates in programs providing charity care for children in both stateside and overseas medical missions. </p> -->
  </div>
</div>

<div class="col-sm-6 derp">
 <div class="col-sm-12 bio-pic">
  <img src='static/images/ed/Dr. Benton 7-1.jpg' class="img-circle">
</div><div class="col-sm-12 bio-name">Mindy Benton, DPM </div>
<div class="col-sm-10 col-sm-offset-1">
  <p>Dr. Benton received a Bachelor of Arts degree in Biology from St. Olaf College, Northfield, MN, in 1985 and a Doctor of Podiatric Medicine degree from the William Scholl College of Podiatric Medicine in North Chicago, in 1991. She completed a two-year surgical residency training program at Hennepin County Medical Center in Minneapolis.</p>
  <p>Dr. Benton has been director of Podiatric Medical Education of the Hennepin County Medical Center PMSR/RRA residency program for the past 16 years.  She also is a staff podiatrist at Allina Health in St. Paul. She was certified by the American Board of Foot and Ankle Surgery (ABFAS) in 1997 and recertified in 2005.
      <!-- <p>Dr. Benton has served on various committees for ABPS, including the In-training Item Writing Committee and the Cognitive Examination Committee. She chaired the Board Certification Content Development Committee, which developed the new certification pathway that will become effective in 2015. She was an Oral Examiner for the ABFAS from 2001 to 2014. She also has served as a Surgical Residency Evaluator, representing ABPS for the Joint Residency Review Committee since 2001.</p>
      <p>Dr. Benton is a Fellow of the American College of Foot and Ankle Surgeons and is a past board member and past president of the National Board of Podiatric Medical Examiners.</p> -->
    </div>
  </div>
  <div class="col-sm-6 derp">
   <div class="col-sm-12 bio-pic"><img src='static/images/ed/Corey-1.jpg' class="img-circle"></div><div class="col-sm-12 bio-name">Stephen V. Corey, DPM</div>
   <div class="col-sm-10 col-sm-offset-1">
    <p>Dr. Corey received a Bachelor of Science degree in pharmacy from St. John's University, New York in 1982 and a DPM degree from the Pennsylvania College of Podiatric Medicine in 1986.  He completed a three-year surgical residency at Northlake Regional Hospital in Tucker, Georgia.</p>
    <p>Dr. Corey practices in Kingstree, South Carolina.  He achieved certification by the American Board of Podiatric Surgery in Foot Surgery in 1993.  He is a Fellow of the American College of Foot and Ankle Surgeons, and he has served on ACFAS committees.</p>
   <!--  <p>Dr. Corey has served on the ABPS Credentials Committee, Foot Surgery Written Examinations Committee, and Foot Surgery Oral Examinations Committee. He has been an oral examiner since 1994.  He currently is a member of the Board of Directors and is the Secretary/ treasurer.  In addition, he serves on both the Cognitive Examinations Committee and Credentials Committee of the ABPS.</p>
   <p>Dr. Corey is currently chair of The Board of Podiatric Examiners for the State of South Carolina since appointment by the governor in 2004.  He previously was an Assistant Professor in the Department of Surgery and Director of Post Graduate Education at the Pennsylvania College of Podiatric Medicine.  He is a past Vice-Chairman and member of the Board of Directors of the Podiatry Institute in Tucker, Georgia.</p> -->
 </div>
</div>
<div class="col-sm-6 derp">
 <div class="col-sm-12 bio-pic"><img src='static/images/ed/Corey-1.jpg' class="img-circle"></div><div class="col-sm-12 bio-name">Christopher D. Lotufo</div>
 <div class="col-sm-10 col-sm-offset-1">
  <p>Dr. Lotufo was certified in Foot Surgery and in Reconstructive Rearfoot/Ankle Surgery by the American Board of Foot and Ankle Surgery (ABFAS) in 2004. He has been active in the ABFAS since 2006, participating in field testing of oral examination questions and serving as an oral examiner. He was a member of the Reconstructive Rearfoot/Ankle Oral Committee and currently is a member of the Examinations Committee and the board liaison for the Computer-based Patient Simulation Foot Examination Committee.  He also has been a member of the Credentials Committee since 2008.</p>
<!--   <p>Dr. Lotufo was elected to the Board of Directors in 2011, and currently is its President Elect. Dr. Lotufo was chair of the Name Change Committee, which coordinated the conversion and developed guidelines for use of the new name, the American Board of Foot and Ankle Surgery.</p>
  <p>Dr. Lotufo is a Fellow of the American College of Foot and Ankle Surgeons (ACFAS).  He has been a member of the Surgical Skills Committee since 2009 and currently serves as its chair. He also frequently lectures for the college and participates as a faculty member of the ACFAS Foot and Ankle Arthroscopy Skills Courses.
    Dr. Lotufo is in private practice outside of Atlanta.  He actively participates with his local hospital and is medical director of the Piedmont Fayette Hospital Wound Care Center. </p>
  -->

</div>
</div>
<div class="col-sm-6 derp">
 <div class="col-sm-12 bio-pic"><img src='static/images/ed/M. Chaney BOD official photo-1.jpg' class="img-circle"></div>
 <div class="col-sm-12 bio-name">D. Martin “Marty” Chaney, DPM</div>
 <div class="col-sm-10 col-sm-offset-1">

  <p>Dr. Chaney obtained his undergraduate degree at the University of Northern Iowa in 1992. He graduated from Des Moines University, College of Podiatric Medicine and Surgery in 1996. Dr. Chaney completed a two-year Podiatric Surgical Residency at the Harris County, West Houston Podiatric Surgical Residency Program, followed by a one year Fellowship in Reconstructive Rearfoot and Ankle Surgery in Houston.</p>
  <p>Dr. Chaney was board certified in Foot Surgery and in Reconstructive Rearfoot/Ankle Surgery by the American Board of Foot and Ankle in 2002. He is actively involved with ABFAS, having served on various committees, including the Foot Surgery Oral Examination Committee, the Cognitive Examination Committee, and the Credentials Committee. He was an oral examiner since from 2004 to 2014.</p>
  <!-- <p>Dr. Chaney also has been an active committee member for the American College of Foot ankle Ankle Surgeons (ACFAS). He served on the Surgical Skills Committee and Annual Scientific Conference Committee for several years.</P>
  <P>Since completing his residency, Dr. Chaney was in private practice in Kansas City, MO, from 1999 to 2004, and served as Podiatric Surgical Residency Director of the Medical Center of Independence from 2002-2004. Dr. Chaney has been in private practice in San Antonio since 2004 and serves as an adjunct clinical professor at the University of Texas Health Science Center, San Anton</P> -->
</div>
</div>
<div class="col-sm-6 derp">
 <div class="col-sm-12 bio-pic"><img src='static/images/ed/D. Jun Choung 05-1.jpg' class="img-circle"></div>
 <div class="col-sm-12 bio-name">Danny J. Choung, DPM</div>
 <div class="col-sm-10 col-sm-offset-1">

  <p>Dr. Choung received a Bachelor of Science degree in Physiological Sciences from the University of California, Los Angeles, in 1995, and a Doctor of Podiatric Medicine degree from the California School of Podiatric Medicine in 1999. He completed a three-year surgical residency at the Northwest Podiatric Surgical Residency Program in Seattle, in 2002.</p>
 <!--    <p>Dr. Choung was certified in Foot Surgery and in Reconstructive Rearfoot/Ankle Surgery by the American Board of Foot and Ankle Surgery (ABFAS) in 2004. He has served on several committees, including the In-Training Item Writing Committee, the Reconstructive Rearfoot/Ankle Surgery Oral Examination Committee, and the Credentials Committee. He currently is a member of the Reconstructive Rearfoot/Ankle CBPS Committee. He was an Oral Examiner from 2006 to 2014.</p>
 <p>Since completing his residency, Dr. Choung has practiced at Kaiser San Rafael, located north of San Francisco. He serves as chief of the Podiatric Surgery Department and is Site Coordinator of the Kaiser Northbay Consortium Podiatry Surgical Residency Program (PM&S-36) that includes Kaiser Foundation Hospitals in Vallejo, Santa Rosa, and San Rafael.</p> -->

</div>
</div>
<div class="col-sm-6 derp">
 <div class="col-sm-12 bio-pic"><img src='static/images/ed/R. Mirmiran 09-1.jpg' class="img-circle"></div>
 <div class="col-sm-12 bio-name">Roya Mirmiran, DPM </div>
 <div class="col-sm-10 col-sm-offset-1">
  <p>Dr. Mirmiran received a Bachelor of Science in Biomedical Sciences from Western Michigan University in 1991 and a DPM degree from the California College of Podiatric Medicine in 1998.  She completed a three-year surgical residency at the New Mexico Veterans Affairs/Lovelace Medical Center in 2001. She achieved certification in Foot and in Reconstructive Rearfoot/Ankle Surgery by the American Board of Foot and Ankle Surgery in 2004. She is a Fellow of the American College of Foot and Ankle Surgeons (ACFAS) and the American Professional Wound Care Association (APWCA).</p>
  <!-- <p>Dr. Mirmiran has been a member of the Examinations Committee since 2006, serving on the Cognitive Examinations Committee and Foot Surgery Oral Examinations Committee. She also served on the Board Qualification Content Development Committee. In addition to her responsibilities on the Foot Surgery Oral Committee, Dr. Mirmiran chairs the CBPS Blueprint Committee and is a member of the Credentials Committee. She was an oral examiner for both the Foot and Reconstructive Rearfoot/Ankle examinations from 2007 to 2014.</p> -->
<!-- <p>In 2009, the ABFAS selected Dr. Mirmiran to represent the Board as a Residency Site Reviewer for the Council on Podiatric Medical Education and, more recently, she was appointed to serve on the Residency Review Committee on behalf of ABFAS.
Dr. Mirmiran has served in different capacities for the New Mexico Podiatric Medical Association, as their Vice President, Chair of Annual Seminar, and at-large member from 1998 to 2009. In addition, she served as a Committee member for National Board of Podiatric Medical Examiners from 2002 to 2007. She has been involved with the ACFAS, serving the College as a member of the Council for Journal Management (2004 to 2006); the Annual Scientific Conference Committee (2007 to 2009); President of Division IV (2009 to 2010); and Professional Relations Committee (2010 to present).</p>
<p>Dr. Mirmiran practices in Albuquerque, NM, and has faculty appointments with the Department of Orthopedics at the University of New Mexico Medical School as well as at the College of Podiatric Medicine at Western University of Health Sciences.</p>
-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

</div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock content %}