{% extends "auth.html" %}
{% block content %}
<div class="gradient">

  <div class="row landing">
    <div class="col-sm-6 lemon text-center animated fadeInLeft">
      <i class="fa fa-lemon-o"></i>
    </div>
    <div class="col-sm-6 text-left animated fadeInUp">
      <div id="welcome">Welcome</div>
      <div id="to">to</div>
      <div id="pod">POD.</div>
    </div>

  </div>
</div>

<div class="some-text">
  <div class="product-overview">PRODUCT OVERVIEW</div>
  <div class="col-sm-12">
    <div class="row each-section">
      <div class="col-sm-6 heading">
        Goals
      </div>
      <div class="col-sm-6 body-text text-left">
        POD will sit behind the ABPS login and serve as a means for members to build a community around the field of podiatry, share ideas and insights, and encourage innovation.
      </div>
    </div>


    <div class="row each-section">
      <div class="col-sm-6 heading">
        Functionality
      </div>
      <div class="col-sm-6 body-text text-left">
        There are four main features of POD, all of which reside in some capacity on the homepage. Information pertaining to the members will be pulled from the ABPS CRM database.
      </div>
    </div>
    <div class="row each-section">
      <div class="col-sm-6 heading">
        Forum
      </div>
      <div class="col-sm-6 body-text text-left">
        <p>Discussion Boards are forums where users can post comments, questions, images, and links for the

          group to discuss. There are six (6) different boards: Cases, Research, Exams, Residency Programs, News,

          and General.</p>

          <p>Users can create a new post by clicking the “Create Post” button. This navigates the page to a simple

            page where users must enter a subject (which will be displayed on the discussion board) and details, and

            have option to attach one or more images. Users can chose to submit or cancel their post.</p>

            <P>A user can open the details and comments of a single post by clicking on it. The post subject, details,

              author details, and posted timestamp are displayed. Below that information are the post comments.</p>

              <p>Comments are displayed in the order they were submitted, with the newest at the top. Replies to

                comments are indented below the respective comments.</p>

              </div>
            </div>


          </div>
        </div>
        {% endblock content %}