{% extends "auth.html" %}
{% block title %}{{ parent_forum.title }}{% endblock title %}

{% block content %}
<div class="forum-back">
  <div class="row header start-forum"><h1>Add a New Post</h1></div>

  <div class="col-sm-4 col-sm-offset-4">
    <form action="/add_comment/{{parent_comment}}" method="post">
      {% csrf_token %}
      Parent Post ID: {{ parent_comment }}<br/>
      <label for="text" class="label-new">Comment text:</label>

      <textarea rows="3" cols="30" name="text" class="form-control"></textarea><br/>
      <input type="submit" value="Add Post" class="btn btn-default btn-block submit-form add-post"/>
    </form>


    {% endblock content %}